*png
*jpg
*bmp
equation_data
data
mdlstm
scene_labeling/results
scene_labeling/models
scene_labeling/training_set
scene_labeling/test_set
scene_labeling/log*
binarize/300dpi
binarize/300dpi_bak
binarize/300dpi_binary
binarize/300dpi_binary_bak
binarize/150dpi*
binarize/150dpi_binary*
binarize/*.jpg
line_extraction/data_set
line_extraction/water_imgs*
line_extraction/lines*
line_extraction/compressed_lines*
line_extraction/jiafa_label
line_extraction/labels
sequence_labeling/training_set*
sequence_labeling/test_set*
sequence_labeling/models
sequence_labeling/loss*
sequence_labeling/log*
sequence_labeling/test.lua
sequence_labeling/temp.lua
sequence_labeling/pca_data
torch-decomposition
line_extraction/jiafa_data
